<div class="bg-gray-500 flex flex-1">
  <input type="text" placeholder="Search" class="p-5 flex-1 outline-none border">
</div>

<div class="p-5">
  <h1 class="text-3xl mb-5">Recommended playlists</h1>

  <div class="playlists flex flex-wrap mb-10">
      <div class="playlist h-64 w-64 flex flex-col mr-5">
        <div class="image bg-gray-400 p-5 flex-1">

        </div>
          <div class="title text-gray-700">
            Best of Latin Hits 2019
          </div>
          <div class="info text-gray-700 text-xs">
            50 tracks - 166,009 fans
          </div>
      </div>

      <div class="playlist h-64 w-64 flex flex-col mr-5">
        <div class="image bg-gray-400 p-5 flex-1">

        </div>
          <div class="title text-gray-700">
            Best of Latin Hits 2019
          </div>
          <div class="info text-gray-700 text-xs">
            50 tracks - 166,009 fans
          </div>
      </div>

      <div class="playlist h-64 w-64 flex flex-col mr-5">
        <div class="image bg-gray-400 p-5 flex-1">

        </div>
          <div class="title text-gray-700">
            Best of Latin Hits 2019
          </div>
          <div class="info text-gray-700 text-xs">
            50 tracks - 166,009 fans
          </div>
      </div>

      <div class="playlist h-64 w-64 flex flex-col mr-5">
        <div class="image bg-gray-400 p-5 flex-1">

        </div>
          <div class="title text-gray-700">
            Best of Latin Hits 2019
          </div>
          <div class="info text-gray-700 text-xs">
            50 tracks - 166,009 fans
          </div>
      </div>
  </div>



  <h1 class="text-3xl mb-5">Best albums of 2019</h1>

  <div class="playlists flex flex-wrap mb-10">
      <div class="playlist h-64 w-64 flex flex-col mr-5">
        <div class="image bg-gray-400 p-5 flex-1">

        </div>
          <div class="title text-gray-700">
            Best of Latin Hits 2019
          </div>
          <div class="info text-gray-700 text-xs">
            50 tracks - 166,009 fans
          </div>
      </div>

      <div class="playlist h-64 w-64 flex flex-col mr-5">
        <div class="image bg-gray-400 p-5 flex-1">

        </div>
          <div class="title text-gray-700">
            Best of Latin Hits 2019
          </div>
          <div class="info text-gray-700 text-xs">
            50 tracks - 166,009 fans
          </div>
      </div>

      <div class="playlist h-64 w-64 flex flex-col mr-5">
        <div class="image bg-gray-400 p-5 flex-1">

        </div>
          <div class="title text-gray-700">
            Best of Latin Hits 2019
          </div>
          <div class="info text-gray-700 text-xs">
            50 tracks - 166,009 fans
          </div>
      </div>

      <div class="playlist h-64 w-64 flex flex-col mr-5">
        <div class="image bg-gray-400 p-5 flex-1">

        </div>
          <div class="title text-gray-700">
            Best of Latin Hits 2019
          </div>
          <div class="info text-gray-700 text-xs">
            50 tracks - 166,009 fans
          </div>
      </div>
  </div>

  <h1 class="text-3xl mb-5">Podcasts</h1>

  <div class="playlists flex flex-wrap mb-10">
      <div class="playlist h-64 w-64 flex flex-col mr-5">
        <div class="image bg-gray-400 p-5 flex-1">

        </div>
          <div class="title text-gray-700">
            Best of Latin Hits 2019
          </div>
          <div class="info text-gray-700 text-xs">
            50 tracks - 166,009 fans
          </div>
      </div>

      <div class="playlist h-64 w-64 flex flex-col mr-5">
        <div class="image bg-gray-400 p-5 flex-1">

        </div>
          <div class="title text-gray-700">
            Best of Latin Hits 2019
          </div>
          <div class="info text-gray-700 text-xs">
            50 tracks - 166,009 fans
          </div>
      </div>

      <div class="playlist h-64 w-64 flex flex-col mr-5">
        <div class="image bg-gray-400 p-5 flex-1">

        </div>
          <div class="title text-gray-700">
            Best of Latin Hits 2019
          </div>
          <div class="info text-gray-700 text-xs">
            50 tracks - 166,009 fans
          </div>
      </div>

      <div class="playlist h-64 w-64 flex flex-col mr-5">
        <div class="image bg-gray-400 p-5 flex-1">

        </div>
          <div class="title text-gray-700">
            Best of Latin Hits 2019
          </div>
          <div class="info text-gray-700 text-xs">
            50 tracks - 166,009 fans
          </div>
      </div>
  </div>
</div>