<div class="bg-gray-500 flex flex-1">
  <input type="text" placeholder="Search" class="p-5 flex-1 outline-none border">
</div>

<div class="p-5">
  <h1 class="text-3xl mb-10">Recommended playlists</h1>

  <div class="playlists flex flex-wrap mb-20">
    <div class="playlist h-56 w-56 flex flex-col mr-5 ">
      <div class="image bg-gray-400 flex-1 flex">
        <img class="rounded-lg hover:opacity-75 cursor-pointer" src="https://i.scdn.co/image/2e3ccae12ef97d41a05af922330e11bc07cf1e94">
      </div>
        <div class="title text-gray-700">
          Best of Latin Hits 2019
        </div>
        <div class="info text-gray-700 text-xs">
          50 tracks - 166,009 fans
        </div>
    </div>

    <div class="playlist h-56 w-56 flex flex-col mr-5 ">
      <div class="image bg-gray-400 flex-1 flex">
        <img class="rounded-lg hover:opacity-75 cursor-pointer" src="https://i.scdn.co/image/b23fc494a79a5af50c51f2302a30bff9aa74c180">
      </div>
        <div class="title text-gray-700">
          Best of Latin Hits 2019
        </div>
        <div class="info text-gray-700 text-xs">
          50 tracks - 166,009 fans
        </div>
    </div>

    <div class="playlist h-56 w-56 flex flex-col mr-5 ">
      <div class="image bg-gray-400 flex-1 flex">
        <img class="rounded-lg hover:opacity-75 cursor-pointer" src="https://i.scdn.co/image/4634646d42c7c94fc795a5a09f54d1948059c57b">
      </div>
        <div class="title text-gray-700">
          Best of Latin Hits 2019
        </div>
        <div class="info text-gray-700 text-xs">
          50 tracks - 166,009 fans
        </div>
    </div>

    <div class="playlist h-56 w-56 flex flex-col mr-5 ">
      <div class="image bg-gray-400 flex-1 flex">
        <img class="rounded-lg hover:opacity-75 cursor-pointer" src="https://i.scdn.co/image/584e903d7dcc8531567db2dd74401d4256654a6b">
      </div>
        <div class="title text-gray-700">
          Best of Latin Hits 2019
        </div>
        <div class="info text-gray-700 text-xs">
          50 tracks - 166,009 fans
        </div>
    </div>

    <div class="playlist h-56 w-56 flex flex-col mr-5 ">
      <div class="image bg-gray-400 flex-1 flex">
        <img class="rounded-lg hover:opacity-75 cursor-pointer" src="https://i.scdn.co/image/ab67616d0000b27367a64c53240af4d884309bb5">
      </div>
        <div class="title text-gray-700">
          Best of Latin Hits 2019
        </div>
        <div class="info text-gray-700 text-xs">
          50 tracks - 166,009 fans
        </div>
    </div>
  </div>



  <h1 class="text-3xl mb-10">Best albums of 2019</h1>

  <div class="playlists flex flex-wrap mb-20">
    <div class="playlist h-56 w-56 flex flex-col mr-5 ">
      <div class="image bg-gray-400 flex-1 flex">
        <img class="rounded-lg hover:opacity-75 cursor-pointer" src="https://i.scdn.co/image/2e3ccae12ef97d41a05af922330e11bc07cf1e94">
      </div>
        <div class="title text-gray-700">
          Best of Latin Hits 2019
        </div>
        <div class="info text-gray-700 text-xs">
          50 tracks - 166,009 fans
        </div>
    </div>

    <div class="playlist h-56 w-56 flex flex-col mr-5 ">
      <div class="image bg-gray-400 flex-1 flex">
        <img class="rounded-lg hover:opacity-75 cursor-pointer" src="https://i.scdn.co/image/b23fc494a79a5af50c51f2302a30bff9aa74c180">
      </div>
        <div class="title text-gray-700">
          Best of Latin Hits 2019
        </div>
        <div class="info text-gray-700 text-xs">
          50 tracks - 166,009 fans
        </div>
    </div>

    <div class="playlist h-56 w-56 flex flex-col mr-5 ">
      <div class="image bg-gray-400 flex-1 flex">
        <img class="rounded-lg hover:opacity-75 cursor-pointer" src="https://i.scdn.co/image/4634646d42c7c94fc795a5a09f54d1948059c57b">
      </div>
        <div class="title text-gray-700">
          Best of Latin Hits 2019
        </div>
        <div class="info text-gray-700 text-xs">
          50 tracks - 166,009 fans
        </div>
    </div>

    <div class="playlist h-56 w-56 flex flex-col mr-5 ">
      <div class="image bg-gray-400 flex-1 flex">
        <img class="rounded-lg hover:opacity-75 cursor-pointer" src="https://i.scdn.co/image/584e903d7dcc8531567db2dd74401d4256654a6b">
      </div>
        <div class="title text-gray-700">
          Best of Latin Hits 2019
        </div>
        <div class="info text-gray-700 text-xs">
          50 tracks - 166,009 fans
        </div>
    </div>

    <div class="playlist h-56 w-56 flex flex-col mr-5 ">
      <div class="image bg-gray-400 flex-1 flex">
        <img class="rounded-lg hover:opacity-75 cursor-pointer" src="https://i.scdn.co/image/ab67616d0000b27367a64c53240af4d884309bb5">
      </div>
        <div class="title text-gray-700">
          Best of Latin Hits 2019
        </div>
        <div class="info text-gray-700 text-xs">
          50 tracks - 166,009 fans
        </div>
    </div>
  </div>

  <h1 class="text-3xl mb-10">Podcasts</h1>

  <div class="playlists flex flex-wrap mb-20">
    <div class="playlist h-56 w-56 flex flex-col mr-5 ">
      <div class="image bg-gray-400 flex-1 flex">
        <img class="rounded-lg hover:opacity-75 cursor-pointer" src="https://i.scdn.co/image/2e3ccae12ef97d41a05af922330e11bc07cf1e94">
      </div>
        <div class="title text-gray-700">
          Best of Latin Hits 2019
        </div>
        <div class="info text-gray-700 text-xs">
          50 tracks - 166,009 fans
        </div>
    </div>

    <div class="playlist h-56 w-56 flex flex-col mr-5 ">
      <div class="image bg-gray-400 flex-1 flex">
        <img class="rounded-lg hover:opacity-75 cursor-pointer" src="https://i.scdn.co/image/b23fc494a79a5af50c51f2302a30bff9aa74c180">
      </div>
        <div class="title text-gray-700">
          Best of Latin Hits 2019
        </div>
        <div class="info text-gray-700 text-xs">
          50 tracks - 166,009 fans
        </div>
    </div>

    <div class="playlist h-56 w-56 flex flex-col mr-5 ">
      <div class="image bg-gray-400 flex-1 flex">
        <img class="rounded-lg hover:opacity-75 cursor-pointer" src="https://i.scdn.co/image/4634646d42c7c94fc795a5a09f54d1948059c57b">
      </div>
        <div class="title text-gray-700">
          Best of Latin Hits 2019
        </div>
        <div class="info text-gray-700 text-xs">
          50 tracks - 166,009 fans
        </div>
    </div>

    <div class="playlist h-56 w-56 flex flex-col mr-5 ">
      <div class="image bg-gray-400 flex-1 flex">
        <img class="rounded-lg hover:opacity-75 cursor-pointer" src="https://i.scdn.co/image/584e903d7dcc8531567db2dd74401d4256654a6b">
      </div>
        <div class="title text-gray-700">
          Best of Latin Hits 2019
        </div>
        <div class="info text-gray-700 text-xs">
          50 tracks - 166,009 fans
        </div>
    </div>

    <div class="playlist h-56 w-56 flex flex-col mr-5 ">
      <div class="image bg-gray-400 flex-1 flex">
        <img class="rounded-lg hover:opacity-75 cursor-pointer" src="https://i.scdn.co/image/ab67616d0000b27367a64c53240af4d884309bb5">
      </div>
        <div class="title text-gray-700">
          Best of Latin Hits 2019
        </div>
        <div class="info text-gray-700 text-xs">
          50 tracks - 166,009 fans
        </div>
    </div>
  </div>
</div>